body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    text-align: center;
    padding: 25px;
} 

/* The Top Navigation Bar */
.topnav {
    overflow:hidden;
    background-color: #00138f
}

/* The Top Navigation Bar Links */
.topnav a {
  float: left;
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;

}

/* Top Navigation Hover*/
.topnav a:hover {
  background-color: #b8c1ff;
  color: black;
}

/* Footer */
.footer {
    width: 100%;
    text-align: center;
    background-color: #000000;
    color:#4a4a4a;
    padding: 30px;
    position: fixed;
    bottom: 0;
}